@import "tailwindcss";
@source "../../src";

/* Fallback */
:root {
  --internal-dynamic-color-fg: black;
  --internal-dynamic-color-bg: white;
  --internal-dynamic-color-primary: blue;
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --internal-dynamic-color-fg: white;
    --internal-dynamic-color-bg: #1c1c1c;
    --internal-dynamic-color-primary: cyan;
  }
}

/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --internal-dynamic-color-fg: #1c1c1c;
    --internal-dynamic-color-bg: white;
    --internal-dynamic-color-primary: blue;
  }
}

/* Extend theme */
@theme {
  --color-fg: var(--internal-dynamic-color-fg);
  --color-foreground: var(--internal-dynamic-color-fg);
  --color-bg: var(--internal-dynamic-color-bg);
  --color-background: var(--internal-dynamic-color-bg);
  --color-primary: var(--internal-dynamic-color-primary);
}

/* Extend base */
@layer base {
  html,
  body {
    background-color: var(--color-background);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  span,
  input {
    color: var(--color-foreground);
  }
}
